*{
    padding: 0px;
    margin: 0px auto;
}
body{
    width: 100%;
    background-color: rgb(238, 218, 225);
}
.container{
    padding: 0px;
    margin: 0px auto;
    ;
    background-color: aqua;
}
.row:nth-child(1){
    background-color:white;
}
.row:nth-child(2){
    
    background-color:pink;
}
.nav-item{
    margin: 0px 10px 0px 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(236, 124, 142);
    border-radius: 20px;
}
.nav-item:hover{
    background-color: rgb(248, 224, 228);
}
.row:nth-child(3){
    
    background-image: url("../img/Background.png");
    background-size: cover;
    width: 960px; 
    height: 400px;
}
.row:nth-child(3) h1{
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 3px 4px pink;
}
.row:nth-child(4) h2{
    color: #dc3545;
}
.row:nth-child(4) ul{
    list-style-type: none;
}

.row:nth-child(5){
    background-color:pink;
}
.row:nth-child(5) ul{
    list-style-type: none;
}
.row:nth-child(5) ul li{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgb(242, 131, 149);
}
.row:nth-child(5) ul li a{
    text-decoration: none;
    color: black;
}
.row:nth-child(5) ul li a:hover{
    color:palevioletred
}